name: Go

on:
  push:
    tags:
      - go/v**

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./go
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: '1.18'

    - name: Tests
      run: go test ./...
